<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netwave.indopediaid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BelajarTema">
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.ProdukList"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.ProdukDetail"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".payment.Pulsa"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".payment.PaketData"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".activity.PanduanBelanja" />
        <activity android:name=".activity.PanduanLacak" />
        <activity android:name=".activity.PanduanPembayaran" />
        <activity android:name=".activity.PanduanPengiriman"></activity>
    </application>

</manifest>